/* Set Comic Sans font and background color on the body */
body {
    background-color: #F0F0F0;
    font-family: "Comic Sans MS";
    color: #212121;
}

/* Make tables look epic */
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}