@tailwind base;
@tailwind utilities;

@font-face {
    font-family: "Comic Neue";
    src: url("/assets/comic-neue/ComicNeue-Regular.woff2") format("woff2"),
        url("/assets/comic-neue/ComicNeue-Regular.woff") format("woff");
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Make tables look epic */
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.icon {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
    fill: currentColor;
}
