@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Make tables look epic */
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
