@tailwind base;
@tailwind utilities;

@font-face {
    font-family: "Comic Neue";
    src: url("/assets/comic-neue/ComicNeue.woff2") format("woff2");
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 0px;
    row-gap: 0px;
}

@media screen and (max-width: 750px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .header-link {
        float: none;
    }

    .header-link::before {
        content: "\A";
        white-space: pre;
    }
}

/* Make tables look epic */
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.icon {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
}
